# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/atividades/a002/OlaMundoSwing/target/
/atividades/a003/OlaMundoJavaFX/nbproject/private/
/atividades/a003/OlaMundoJavaFCX/nbproject/private/
/atividades/a003/OlaMundoJavaFCX/build/
/atividades/a003/OlaMundoJavaFCX/dist/
/exercicios/ex004/RelogioSwing/target/
/exercicios/ex004/RelogioSwing/nbproject/private/
/exercicios/ex004/RelogioSwing/build/
/exercicios/ex005/IdiomaSistemaSwing/nbproject/private/
/exercicios/ex005/IdiomaSistemaSwing/build/
/exercicios/ex006/ResolucaoTelaSwing/nbproject/private/
/exercicios/ex006/ResolucaoTelaSwing/build/
